@charset "utf-8";
/* CSS Document */
/*Reset CSS*/
* {
	margin: 0;
	padding: 0;
}
.clear{
	clear:both;	
}
img{
	border:0;	
}
a {
    color: rgba(0,0,0,.6);
    text-decoration: none;
}
ul{
	list-style-type:none;
}
/*Body Page*/
body{
	background:#f0f0f0;	
	min-width:1024px;
}
.body{
	max-width: 1200px;
    width: 100%;
    min-width: 1200px;
    margin: 75px auto 0;
}
.banner{
	display: inline-block;
    float: left;
    width: 800px;
    height: 430px;
    overflow: hidden;
    position: relative;
    background: #f0f0f0;	
}
/*Navigation Bar*/
.sticky{
	position:fixed;
	top:0;
	z-index:999;
}
header{
	width:100%;
	height:55px;	
}
.header_nav .container{
	position:relative;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container{
	width:1170px;	
}
div#nav{
	font-family:Arial, Helvetica, sans-serif;
	margin-top:0;
	background: #fff;
    height: 60px;
}
/*Search Group**/
#nav .logo{
	position: absolute;
    left: 5px;
    top: 4px;
	z-index:15;
}
.logo img{
	max-width: 100%;
    height: 52px;
}
.header .header_search{
	float:left;
	margin-left: 126px;
    margin-top: 3px;	
}
.box_search{
	position:relative;	
}
#searchProduct{
    float: left;
    width: 230px;
    height: 37px;
    margin: 10px 10px 0 10px;
    background: #fff;
    position: relative;
    border-radius: 20px;
    border: 1px solid #fa6000;
}
.topinput{
	float: left;
    width: 162px!important;
    margin-left: 8px;
    padding: 2px 5px!important;
    border: 0!important;
    position: relative;
    background: #fff;
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
    border-radius: 20px;	
}
.btntop{
	float: right;
    width: 30px;
    height: 35px;
    border: 0;
    background: url(../images/icon/search.png) no-repeat;
    margin-top: 10px;	
}
.button, button {
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    border: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
}
.header_nav .header_search .imei_search{
	float: left;
    margin-top: 10px;
    margin-left: 5px;	
}
.btnsend{
	height: 37px;
    cursor: pointer;
    padding: 9px;
    float: right;
    border: 1px solid #fa6000;
    border-radius: 20px;
    background: #fa6000;
    color: white;	
}
.warrantyinput{
	height: 12px;
    margin-right: 5px;
    padding: 12px;
    width: 180px;
    border-radius: 20px;
    border: 1px solid #fa6000;
	
}
.header_nav{
	position:relative;
	z-index:10;
}
.header_nav:after {
    background: #fff;
    content: '';
    right: 0;
    width: 38%;
    height: 58px;
    top: 0;
}
/*Menu Group*/
.header_nav .menutop{
	float:right;
	witdh:478px;	
}
.row{
	margin-left:-60px !important;	
}
/*.row:before{
	display: table;
    content: "";
    line-height: 0;	
}
.row:after{
	clear:both;
	display:table;
	content:"";
	line-height:0;
}*/
.header_nav .menutop ul.menu{
	width: 121%;
    display: table;
    right: -31px;
}
ul.menu{
	position:relative;
	list-style:none;
	z-index:100;		
}
.header_nav .menutop .menu>li{
	display: table-cell;
    font-weight: bold;	
}
.header_nav .menutop .menu>li>a{
	text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    padding: 0 6px;
    padding-top: 9px;
    line-height: 26px;
    text-decoration: none;	
}
.header_nav .menutop .menu>li .icon{
	display:block;
	width:30px;
	margin: 0 auto;
}
.header_nav .menutop .menu>li#icon_1 .icon{
	background:url(../images/icon/iphoneX.png)
	bottom no-repeat;
	height: 22px;
    margin-bottom: 1px;
}
.header_nav .menutop .menu>li#icon_2 .icon{
	background:url(../images/icon/Tivi.png)
	bottom no-repeat;
	height: 22px;
    margin-bottom: 1px;	
}
.header_nav .menutop .menu>li#icon_3 .icon{
	background:url(../images/icon/accessories.png)
	bottom no-repeat;
	height: 22px;
    margin-bottom: 1px;	
}
.header_nav .menutop .menu>li#icon_4 .icon{
	background:url(../images/icon/info.png)
	bottom no-repeat;
	height: 22px;
    margin-bottom: 1px;	
}
.header_nav .menutop .menu>li#icon_5 .icon{
	background:url(../images/icon/coin.png)
	bottom no-repeat;
	height: 22px;
    margin-bottom: 1px;
}
.header_nav .menutop .menu>li#icon_6 .icon{
	background:url(../images/icon/newspaper.png)
	bottom no-repeat;
	height: 22px;
    margin-bottom: 1px;
}
.header_nav .menutop .menu>li#icon_7 .icon{
	background:url(../images/icon/forum.png)
	bottom no-repeat;
	height: 22px;
    margin-bottom: 1px;	
}
/**hiệu ứng màu khi hover **/
.header_nav .menutop .menu>li>a:hover{
	color:#FFF;
	background:#F30;
}
/**Footer**/
footer{
	width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    clear: both;	
}
.rowfoot{
	display: block;
    overflow: hidden;
    width: 100%;
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;	
}
.rowfoot ul#col1{
	width:20%;
}
.rowfoot ul#col2{
	width:15%;
}
.rowfoot ul#col3{
	width:30%
}
.rowfoot ul#col4{
	width:30%
	padding-left: 10px;
}
.rowfoot #col3 li p a{
	display: inline;
    font-weight: 600;
    color: #333;
    padding: 0 5px;
}
.colfoot{
	float: left;
    width: 24%;
    margin: 0;
    position: relative;	
}
.colfoot li{
	float:none;
	position:relative;
	font-size: 13px;
    color: #444;
}
.colfoot li a{
	display:block;
	color: #288ad6;
    font-size: 14px;
	padding: 0px 0px 0px 5px;
    line-height: 30px;
	height: 25px;	
	text-decoration:none;
}
.colfoot2 li#social{
	margin: 10px 0 10px 0;
}

.colfoot2 #col4 li.linksocial a{
	width: 38px;
    height: 38px;
    margin-right: 5px;
	display:inline-block;
	vertical-align:middle;	
}
.colfoot2 #col4 li.linksocial a>i{
	display:inline-block;
	vertical-align:middle;
	width: 38px;
    height: 38px;	
}
.colfoot2 #col4 li.linksocial a>i#icon1{
	background-image:url(images/icon/facebook.png);
}
.colfoot2 #col4 li.linksocial a>i#icon2{
	background-image:url(images/icon/google.png);
}
.colfoot2 #col4 li.linksocial a>i#icon3{
	background-image:url(images/icon/twitter.png);	
}
/*CSS News*/
.news{
	display: inline-block;
    float: left;
    margin-left: 10px;
    width: 390px;
    height: 430px;
    overflow: hidden;
}
.news ul{
	display: block;
    overflow: hidden;
    background: #fff;
    height: 100%;
	list-style:none;	
}
.news li {
    display: block;
    border-bottom: 1px solid #ededed;
    background: #fff;
    margin: 0 10px;
    padding: 8px 0;
}
.news li a{
	display: block;
    overflow: hidden;
    height: 70px;	
}
.news li img{
	float: right;
    width: 100px;
    height: 57px;
    margin-left: 10px;	
}
.news li p{
	display: block;
    overflow: hidden;
    height: 36px;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;	
}
/*CSS Product*/
.product .box-hd{
	position: relative;
    height: 58px;	
}
.product .box-hd .title{
	margin: 80px;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    height: 58px;
    color: #333;
    text-transform: uppercase;
    text-align: center;	
}
.productdetails{
	display: block;
    overflow: hidden;
    margin: 10px auto 0;
    padding: 0;	
}
.ul{
	list-style:none;	
}
.productdetails li{
	float: left;
    position: relative;
    width: 33.33%;
    height: 280px;
    margin: 0 0 10px;
    overflow: hidden;
    cursor: pointer;	
}
.productdetails li a{
	display: block;
    overflow: hidden;
    width: 97.5%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 80%;	
}
.productdetails li .bginfo{
    overflow: hidden;
    background: #fff;
    height: 195px;
    padding: 2% 0;
    font-size: 12px;
    color: #fff;
    line-height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 9px;
    bottom: 0;
    z-index: 9;
	opacity:0;
}
.productdetails li .bginfo .name{
    line-height: 1.3em;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    padding: 0;
    margin: 0 10px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /** sẽ có dấu ... nếu overflow **/
    max-width: 70%;	
}
.productdetails li .bginfo strong{
	position: relative;
    left: 0;
    top: 0;
    width: 100%;
    clear: both;
    box-sizing: border-box;	
}
.productdetails li .bginfo p{
    color: #333;
    padding: 2px 5px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 12px;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;	
}
.productdetails li img{
	display: block;
    width: auto;
    height: 180px;
    margin: 0 auto 10px;	
}
.productdetails li img.productcol{
	width: 100%;
    max-height: 199px;
    height: 100%;
}
.productdetails li h3{
	display: block;
    line-height: 1.3em;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 0 11px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.productdetails li strong{
	float: left;
    font-size: 20px;
    color: #f60;
    margin: 0 12px 5px;
    border: 1px solid #c1c1c1;
    border-radius: 6px;
    padding: 5px 10px;	
}
.productdetailsmini:hover div.bginfo{
	opacity: 1;
    transform: translateY(-10px);
    transition:ease-in-out 0.5s;	
}
/*Product2*/
.product2{
	display: block;
    overflow: hidden;
    background: #fff;	
}
.titleproduct{
	display: block;
    overflow: hidden;
    padding-top: 5px;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    background: #f0f0f0;	
}
.titleproduct h2{
	display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #333;
    padding: 10px;
    text-transform: uppercase;	
}
.titleproduct a{
	display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #388ad6;
    padding: 10px;	
}
.product2 ul{
	display: block;
    overflow: hidden;
    background: #fff;	
}
.product2 li{
	float: left;
    overflow: hidden;
    height: 240px;
    width: 12.5%;	
}
.product2 li a{
	display: block;
    overflow: hidden;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
	text-decoration:none;
}
.product2 li img{
	display: block;
    margin: 10px auto;
    width: 120px;
    max-height: 120px;	
}
.product2 li h3{
	display: block;
    overflow: hidden;
    height: 54px;
    font-size: 14px;
    color: #333;
    padding: 0 10px;
    text-align: center;	
}
.product2 li strong{
	display: block;
    overflow: hidden;
    font-size: 14px;
    color: #c10017;
    text-align: center;
    padding: 5px 0 0 0;	
}
/*Back to top*/
.backtop {
	display:none; 
	bottom: 40%; 
	right: 10px; 
	cursor: pointer;  
	position: fixed; 
	z-index: 1000;
}
.backtop div {
	background:gray; 
	border:2px solid #fff; 
	border-radius:45px; 
	padding:11px 12.5px; 
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3)
}
.backtop img {
	width:16px; 
	height:16px;
}
/*CSS Maps*/
.map{
	max-width: 1200px;
    width: 100%;
    min-width: 1200px;
    margin: 75px auto 0;
}
.map .margin{
	margin: -48px 0;	
}
.margin .main_col{
	width:75%;
	float:left;	
}
.margin .sub_col{
	width:24%;
	float:right;
		
}
.sub_col ul{
	display: block;
    overflow: hidden;
    background: #fff;
    height: 100%;
    list-style: none;	
}
.sub_col li{
	display: block;
    border-bottom: 1px solid #ededed;
    background: #fff;
    margin: 0 10px;
    padding: 8px 0;	
}
/*CSS Slider*/

.slider {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;
  background: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.slider .slider-items-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  transition: transform 0.35s ease-in-out;
}
.slider .slider-items-container img {
  width: 100vw;
  max-width: 640px;
  display: block;
}
.slider .controls {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
}
.slider .controls a {
  color: #333;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
.slider .controls a:hover {
  color: #888;
}
.slider .dots {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
.slider .dots .dot {
  width: 10px;
  height: 10px;
  background: #333;
  transition: 0.15s ease-in-out;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 20px;
}
.slider .dots .dot.active {
  background: #888;
}